@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	border: 0;
	outline: 0;
}

@layer utilities {
	.scrollbar-dark::-webkit-scrollbar {
		width: 10px;
	}

	.scrollbar-dark::-webkit-scrollbar-track {
		border-radius: 100vh;
		background: rgb(107 114 128);
	}

	.scrollbar-dark::-webkit-scrollbar-thumb {
		border-radius: 100vh;
		background: rgba(99, 102, 241, 1);
	}
}
